<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./component/header')%>
    <section>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus officia beatae ipsa aliquid necessitatibus similique, optio nobis atque officiis iusto mollitia saepe sed exercitationem at quasi dolor distinctio possimus! Quia, odit doloremque quos corrupti explicabo eligendi sit ea eius eos voluptas mollitia veniam dolores perferendis at reprehenderit quod cupiditate aperiam nam culpa quisquam ex reiciendis quaerat porro? Nulla, blanditiis. Iste quo odio autem officiis, veniam consequatur, ducimus atque sit ex cupiditate animi fugiat quia similique expedita enim quibusdam ipsa itaque doloribus culpa recusandae debitis suscipit error magni. In voluptatum illo inventore saepe! A corrupti assumenda voluptas omnis eum iusto hic error, laboriosam sapiente sit labore quasi nisi, ad fugit provident quia ducimus qui ratione nihil eaque iste modi? Placeat recusandae quis, dolorem accusantium, aliquam velit unde inventore voluptas ea nihil esse iure rem quo optio suscipit sed explicabo assumenda, sequi alias maxime accusamus nobis eos soluta delectus. Molestias porro impedit provident similique necessitatibus nostrum mollitia veniam fuga repudiandae magni fugiat aut quibusdam illum, harum, nam minima eius ipsum magnam est at quo! Similique quod totam nesciunt expedita minima ut molestiae ullam. Minima id sint reiciendis iusto tenetur? Illo, facilis, harum sapiente possimus assumenda velit reprehenderit cupiditate vitae hic, sequi quos.</p>
    </section>
</body>
</html>